
<% options = '{\"yLambda\":1,\"yZoomedIn\":false,\"showTrails\":true,\"duration\":{\"multiplier\":1,\"timeUnit\":\"D\"},\"yAxisOption\":\"3\",\"dimensions\":{\"iconDimensions\":[\"dim0\"]},\"xZoomedDataMin\":1,\"colorOption\":\"_UNIQUE_COLOR\",\"playDuration\":15000,\"xAxisOption\":\"2\",\"orderedByX\":false,\"yZoomedDataMax\":397.6329966187414,\"xLambda\":1,\"nonSelectedAlpha\":0.4,\"iconType\":\"BUBBLE\",\"uniColorForNonSelected\":false,\"orderedByY\":false,\"iconKeySettings\":[],\"yZoomedDataMin\":1,\"xZoomedIn\":false,\"xZoomedDataMax\":5,\"sizeOption\":\"3\"}'
%>

<div class="content">
<div id="middle-element">
<% visualization "android", "MotionChart", :width => 780, :height => 600, :state=>options, :html => {:class => "graph_chart"} do |chart| %>
    <%# Add the columns that the graph will have %>
    <% chart.string "App" %>
    <% chart.date "Date" %>
    <% chart.number "Rating" %>
    <% chart.number "Base" %>

    <%# chart.add_row(["min", Date.today, 1, 0.1]) %>
    <%# chart.add_row(["max", Date.today, 5, 0.1]) %>

    <%# Add the data %>
	<% @ratings.each do |r| %>
		<% chart.add_row(["#{r.app.name}", Date.new(r.created_at.year,r.created_at.month,r.created_at.day), r.rating_nice, r.base]) %>
	<% end	%>
<% end %>
</div>
</div>
			