
<% options = '{\"xZoomedIn\":false,\"yAxisOption\":\"2\",\"xAxisOption\":\"_TIME\",\"orderedByX\":false,\"xLambda\":1,\"yZoomedIn\":false,\"iconType\":\"LINE\",\"nonSelectedAlpha\":0.4,\"iconKeySettings\":[{\"key\":{\"dim0\":\"cumultativ\"}}],\"orderedByY\":false,\"xZoomedDataMax\":1388534400000,\"uniColorForNonSelected\":false,\"sizeOption\":\"_UNISIZE\",\"yLambda\":1,\"yZoomedDataMax\":5,\"yZoomedDataMin\":0,\"time\":\"2014\",\"showTrails\":false,\"dimensions\":{\"iconDimensions\":[\"dim0\"]},\"xZoomedDataMin\":1382227200000,\"duration\":{\"timeUnit\":\"D\",\"multiplier\":1},\"colorOption\":\"_UNIQUE_COLOR\",\"playDuration\":15000}'
%>

<div id="middle-element">
<div id="exp" class="graph_chart"><!-- /--></div></div>
</div>

<div id="dates">
<%= simple_form_for :app,remote: true, :url=> country_path() do |f| %>
  <div id="startdate"><%= f.input :start_date, :as => :date_picker %> </div>
  <%= f.input :end_date, :id=>"enddate", :as => :date_picker %>
  <%= f.button :submit, :id =>"timebtn", :Value=>"set range", :onsubmit => 'loadingstarted();' %>
<% end %>
</div>
