<% options = '{\"duration\":{\"multiplier\":1,\"timeUnit\":\"D\"},\"yLambda\":1,\"yZoomedIn\":false,\"playDuration\":15000,\"dimensions\":{\"iconDimensions\":[\"dim0\"]},\"xZoomedIn\":false,\"iconKeySettings\":[],\"orderedByY\":false,\"colorOption\":\"_UNIQUE_COLOR\",\"uniColorForNonSelected\":false,\"yAxisOption\":\"3\",\"showTrails\":true,\"xZoomedDataMin\":2.5,\"xAxisOption\":\"2\",\"xLambda\":1,\"iconType\":\"BUBBLE\",\"yZoomedDataMax\":198.9673340023432,\"yZoomedDataMin\":4.47213595499958,\"orderedByX\":false,\"nonSelectedAlpha\":0.4,\"xZoomedDataMax\":4.5,\"sizeOption\":\"3\"}'
%>
<div id="middle-element">
<div id="exp" class="graph_chart"><!-- /--></div></div>
</div>

<script type="text/javascript">
$.ajax({
    type: 'POST',
    url: '<%=country_path(:country => "Default")%>'    
});

</script>