// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// first we set the variables:
$BGCOLOR: #0099CC;
$HLCOLOR: #3399FF;

#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

#menuarea {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;	
	width:30px;
	position: relative;
	left: 661px;
	top: -18px;
}

.tabarea {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
	a:link,a:visited
	{
		font-weight:bold;
		color:#FFFFFF;
		background-color:$BGCOLOR;
		text-align:center;
		padding:6px;
		text-decoration:none;
		text-transform:uppercase;
	}
	a:hover,a:active
	{
		background-color:$HLCOLOR;
	}
}

.current {
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-color:WHITE;
	font-weight:bold;
	color:BLACK;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}

p {
 margin:0;
 padding:0;
 background-color: $BGCOLOR; 
 position: relative;
 left: 0px;
 top: -72px;
 width: 800px;
 height: 650px;
 z-index:-1;
 -moz-border-radius: 15px;
 border-radius: 15px;
}

#middle-element {
  margin:0;
  padding:0;	
  text-align: center;
  position: relative;
  left: -50px;
  top: -687px;
}



/* The CSS */
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    /*-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    background: WHITE;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight:bold;
	color:BLACK;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}

select[disabled] { 
	color:#FFFFFF;
	background-color:$BGCOLOR; 
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}