// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// first we set the variables:
$BGCOLOR: #0099CC;
$HLCOLOR: #3399FF;

#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

#menuarea {
	list-style-type:none;
	display:inline;
}

.tabarea {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
	a:link,a:visited
	{
		font-weight:bold;
		color:#FFFFFF;
		background-color:$BGCOLOR;
		text-align:center;
		padding:6px;
		text-decoration:none;
		text-transform:uppercase;
	}
	a:hover,a:active
	{
		background-color:$HLCOLOR;
	}
}

.current {
	background-color:WHITE;
	font-weight:bold;
	color:BLACK;
	text-align:center;
	padding:6px;
	text-decoration:none;
	text-transform:uppercase;
}

p {
 margin:0;
 padding:0;
 background-color: $BGCOLOR; 
 position: relative;
 left: 0px;
 top: -50px;
 width: 800px;
 height: 650px;
 z-index:-1;
 -moz-border-radius: 15px;
 border-radius: 15px;
}

#middle-element {
  margin:0;
  padding:0;	
  text-align: center;
  position: relative;
  left: -50px;
  top: -661px;
}
