<!DOCTYPE html>
<html>
<head>
  <title>marktr</title>
  <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= csrf_meta_tags %>
  <%= include_visualization_api %>
  <%= render_visualizations %>
</head>
<body>

<%= yield %>

</body>
</html>
